.env
.env.*
!.env.example

**/src/main/resources/application-local.yml

.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

**/build/
**/.gradle/
**/out/
**/bin/
*.class
*.log

*.jar
!**/gradle/wrapper/gradle-wrapper.jar

web/node_modules/
web/dist/
web/.angular/
web/coverage/
npm-debug.log*
